
<p class="card-text">RF from Parent: @FirstFragment @SecondFragment </p>
@code {
    [Parameter]
    public RenderFragment FirstFragment { get; set; }

    [Parameter]
    public RenderFragment SecondFragment { get; set; }

}
